<%= javascript 'jquery.validationEngine_w' %>
<%= render :partial => 'left_side' %>

	<div class="contact-form">
		<%= form_for @message do |f| %>
      <%= f.error_messages %>
			<ul class="left">
				<li>Name <span>*</span></li>
				<li> <%= f.text_field :name,  :class =>"validate[required] txtfield" %></li>
				<li>Email <span>*</span></li>
				<li><%= f.text_field :email, :class =>"validate[required,custom[email]] txtfield" %></li>
			</ul>
			<ul class="right">
				<li>Phone <span>*</span></li>
				<li><%= f.text_field :phone, :class =>"validate[required] txtfield" %></li>
			</ul>
			<ul>
				<li>Message <span>*</span></li>
				<li><%= f.text_area :body, :class =>"validate[required,length[6,300]] txtfield" %></li>
				<li class="send-enquiry">
					<%= f.submit "", :class => "submit-button" %>
				</li>
			</ul>
    <% end %>
	</div>