<div class="left-area">
	<div class="win-box">
      <div class="admin">
        <h2>Admin</h2>
          <ul>
    				<li><%= link_to "Message List", messages_path %></li>
    			</ul>  			
      </div>			
		</div>
  <%= render :partial => 'shared/admin_menu' %>      
</div>
<div class="main-content">

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Body</th>
  </tr>
  <% for message in @messages %>
    <tr>
      <td><%= message.name %></td>
      <td><%= message.email %></td>
      <td><%= message.phone %></td>
      <td><%= message.body %></td>
      <td><%= link_to "Show", message %></td>
      <td><%= link_to "Edit", edit_message_path(message) %></td>
      <td><%= link_to "Destroy", message, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%#= link_to "New Message", new_message_path %>
</div>