<div class="center">
	<div class="login-box-top"></div>					
	<div class="login-box">
		  <div class="heading"><h2 class="register" title="Register">Register</h2></div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

			<div class="fields">
  			<div class="field">
  				<div class="label"><%= f.label :username %></div>
  				<div class="input"><%= f.text_field :username %></div>
  			</div>
				<div class="field">
					<div class="label"><%= f.label :email %></div>
					<div class="input"><%= f.text_field :email %></div>
				</div>
				<div class="field">							
					<div class="label"><%= f.label :password %></div>
					<div class="input"><%= f.password_field :password %></div>							
				</div>
				<div class="field">							
					<div class="label"><%= f.label :password_confirmation %></div>
					<div class="input"><%= f.password_field :password_confirmation %></div>							
				</div>
				<div class="buttons">
          <%= f.submit "Sign up", :class => "register"%>
			
				</div>	
			</div>
		</form>
		<% end %>
		<div class="links">
			<%= render :partial => "devise/shared/links" %>
		</div>

	</div>
			<div class="login-box-bottom"></div>							
</div>