<p id="notice"><%= notice %></p>

<p>
  <b>Hotel:</b>
  <%= @hotels_facility.hotel_id %>
</p>

<p>
  <b>Facility:</b>
  <%= @hotels_facility.facility_id %>
</p>


<%= link_to 'Edit', edit_hotels_facility_path(@hotels_facility) %> |
<%= link_to 'Back', hotels_facilities_path %>
