<div class="left-area">
	<div class="win-box">
      <div class="admin">
        <h2>Admin</h2>
          <ul>
    				<li><%= link_to "View Facility list", facilities_path %></li>
    				<li><%= link_to "Add New Facility", new_facility_path %></li>
    				<li>  <%= link_to "Show Details", @facility %></li>
    			</ul>  			
      </div>			
		</div>
  <%= render :partial => 'shared/admin_menu' %>      
</div>
<div class="main-content">
<h2>Edit Facility</h2>


<%= render 'form' %>

</div>