<% title "Cyper Hotels, Find hotels in London, Deals" %>
<% javascript 'jquery-ui-1.8.9.custom.min','jquery.cycle.all.min','application'%>

      <div class="banner">
      	<div class="images"  id="pics" style="position:relative;">
				<div class="cycle">
					<a href="/hotels/2" title="Homely House">
						<img src="media/HomelyHouse/01.jpg" alt="homely house" />
					</a>
				</div>
					<div class="cycle">
						<a href="/hotels/1" title="Homely House">
							<img src="media/hotel_01.jpg" alt="hotels" />
						</a>
					</div>
					<div class="cycle">
						<a href="/hotels/4" title="Majestic Inns">
							<img src="media/MajesticInns/01.jpg" alt="MajesticInns" />
						</a>
					</div>
					<div class="cycle">	
						<a href="/browse/Apartment Hotels" title="Sea View Inn">
							<img src="media/seaviewinn/01.jpg" alt="Sea View Inn" />
						</a>
					</div>
				</div>      
      <div class="search-box">
        <div class="heading">
      	  <h2 class="search-for-hotels" title="Search for Hotels">Search for Hotels</h2>
      	</div>
          <% form_tag search_by_path do %>    			
      		<ul>
      			<li>
      				<label>Location</label>
		    			<%= text_field_tag :search, params[:search], :id=> 'search-field', :class=>'txtfield' %>

      			</li>
      			<li>
      				<label>Arrival Date</label>
      				<input id="datepicker" name="arrival-date" type="text" class="arrival-date" />
      			</li>
      			<li>
      				<label>How many person?</label>
      				<select>
      				  <option value="1">1 Person</option>
      				  <option value="2">2 People</option>
      				  <option value="3">3 People</option>
      				  <option value="4">4 People</option>
      				</select>							
      			</li>
      			<li>
      				<label>Number of Nights?</label>
      				<select>
      				  <option value="1">1</option>
      				  <option value="2">2</option>
      				  <option value="3">3</option>
      				  <option value="4">4</option>
      				</select>							
      			</li>
      			<li class="send-enquiry">
      			  <%= submit_tag '', :name => :nil, :class => 'submit-button' %>
      			</li>
      		</ul>
    		<% end %>			
      </div>
      </div>
			<div class="browse-by">
				<div class="hotel-types">
					<div class="heading">
						<h2 title="Browse by Hotel Types">Browse by Hotel Types</h2>
					</div>
					<ul>
					  <% @hotel_types.each do |hotel_type|%>  				
						  <li><%= link_to hotel_type.name , browse_by_path(hotel_type.name) %></li>
					  <% end %>
					</ul>
				</div>
			</div>
  			<div class="top-hotels">
  				<div class="heading">			
  					<h2>Top Hotels in Town</h2>
  				</div>	

        	<div class="list">
        	  <% @top_hotels.each do |hotel| %>
        		<div class="hotel-box">
        				<div class="thumb">
            			<% unless hotel.photos.first.nil? %>
            				<%= link_to image_tag(hotel.photos.first.uploaded_file.url(:thumb), :alt => ""), details_path(hotel.name) %>
            			<% end %>
        				</div>
        				<div class="details">
        					<h3><%= link_to hotel.name , details_path(hotel.name) %></h3>
        					<div class="loc"><%= hotel.area %></div>
        					<div class="s<%= hotel.star %>"></div>
        					<div class="reviews"><%= link_to "Reviews (#{hotel.reviews.count})", hotel_reviews_path(hotel) %></div>
        				</div>
        		</div>
        		<% end %>
        	</div>
  			</div>
  		<div class="full-width">
        <div class="one-third">
          <div class="small-box">
            <div class="heading">
          	  <h2 class="guest-box">Guest Box</h2>
          	</div>
          	<ul>
          		<li><a href="#" title="FAQ">FAQ</a></li>
          		<li><a href="#" title="How to make a reservation?">How to make a reservation?</a></li>
          		<li><a href="#" title="Additional information">Additional information</a></li>
          		<li><a href="#" title="Payment options">Payment options</a></li>
          		<li><a href="#" title="Booking tips">Booking tips</a></li>
          		<li><a href="#" title="Site feedback">Site feedback</a></li>
          	</ul>
          </div>
        </div>
        <div class="one-third">
          <div class="small-box">
    				<div class="heading">        
          	  <h2 class="customer-service">Customer Service</h2>
            </div>  
          </div>
        </div>
        
        <div class="one-third last">
          <div class="small-box">
    				<div class="heading">      
          	  <h2 class="newsletter">View Hotels on the Map</h2>
          	</div>
          </div>
        </div>
      </div>
