<h1>Listing hotel_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hotel_types.each do |hotel_type| %>
  <tr>
    <td><%= hotel_type.name %></td>
    <td><%= hotel_type.desc %></td>
    <td><%= link_to 'Show', hotel_type %></td>
    <td><%= link_to 'Edit', edit_hotel_type_path(hotel_type) %></td>
    <td><%= link_to 'Destroy', hotel_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hotel type', new_hotel_type_path %>
