
<div class="center">
	<div class="login-box">
		<h2 title="sign-in">Sign In</h2>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

			<div class="fields">
				<div class="field">
					<div class="label"><label><%= f.label :email %></label></div>
					<div class="input"><%= f.text_field :email %></div>
				</div>
				<div class="field">							
					<div class="label"><label><%= f.label :password %></label></div>
					<div class="input">  <%= f.password_field :password %></div>							
				</div>
				<div class="field">							
          <% if devise_mapping.rememberable? -%>
						<div class="checkbox">
              <%= f.check_box :remember_me %><label for="remember"><%= f.label :remember_me %></label>
            </div>
          <% end -%>				</div>
				<div class="buttons">
          <%= f.submit "Sign in" %>
					<a href="index.html">Cancel</a>							
				</div>
				
			</div>
		</form>
		<% end %>
		<div class="links">
			<%= render :partial => "devise/shared/links" %>
		</div>
	</div>
</div>