

<div class="center photo-upload">
  <div class="login-box-top"></div>
	<div class="login-box">

	    <div class="mid">
    		<h2 title="Photo Upload">Photo Upload</h2>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
		<%= form_for [@hotel,@photo],:html => {:multipart => true} do |f| %>
		  <% if @photo.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

		      <ul>
		      <% @photo.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		<div class="fields">
		  <div class="field">
		    <%= f.file_field :uploaded_file %>
		  </div>
			<div class="buttons">
		    <%= f.submit 'Add Photo' %>
		  </div>
		</div>
		<% end %>
		<div class="links">
			<%=link_to "Cancel", @hotel %>
		</div>
		


    </div>	  		
	</div>
  <div class="login-box-bottom"></div>
</div>
