<% form_for @hotel do |f| %>
  <%= f.error_messages %>
  <div>
  <h2>Name and Address</h2>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :area %><br />
      <%= f.text_field :area %>
    </p>

    <p>
      <%= f.label :postcode %><br />
      <%= f.text_field :postcode %>
    </p>
    <p>
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </p>
    <p>
      <%= f.label :fax %><br />
      <%= f.text_field :fax %>
    </p>
  </div>
  <div>
    <h2>Hotel Details</h2>
    <p>
     <%= f.label :hotel_type_id %><br />
  	<%= select(:hotel, :hotel_type_id, HotelType.all.collect { |t| [t.name, t.id]}) %>
  	</p>
    <p>
      <%= f.label :star %><br />
      <%= f.select :star, star_list %>    

    </p>
    <p>
      <%= f.label :no_of_rooms %><br />
      <%= f.text_field :no_of_rooms %>
    </p>
    <p>
      <%= f.label :overview %><br />
      <%= f.text_field :overview %>
    </p>
    <p>
      <%= f.label :terms %><br />
      <%= f.text_area :terms, :rows => 10, :cols => 60 %>
    </p>
    <p>
      <%= f.label :direction %><br />
      <%= f.text_area :direction, :rows => 10, :cols => 60 %>
    </p>
  </div>

  <% @hotel.photos.each do | photo | %>
		<div class="hotel_photos">
			<%= image_tag(photo.uploaded_file.url(:thumb), :alt => '') %>
			<%= check_box_tag "photo_ids[]", photo.id %>
		</div>
	<% end unless @hotel.photos.first.new_record? rescue nil %>
	
  <div>
  <h2>Hotels Features and Services</h2>
	<ul>
	<% @all_facilities.each do |facility| %>
		<li>
		  <%= check_box_tag "hotel_facility_list[]", facility.id, @hotel.facilities.map{|f| f.id}.include?(facility.id) %>
		  <%= facility.name %>
		</li>
	<% end %>
	</ul>
  </div>
  <p><%= f.submit "Add Hotel" %></p>
<% end %>

