<% form_for @hotel do |f| %><%= f.error_messages %>
		<div class="add-hotel">
			<div class="heading">
				<h2>Name and Address</h2>
			</div>
			<p>
				<%= f.label :name %><span>*</span><br>
				<%= f.text_field :name %>
			</p>
			<p>
				<%= f.label :address %><span>*</span><br>
				<%= f.text_field :address %>
			</p>
			<p>
				<%= f.label :area %><span>*</span><br>
				<%= select(:hotel, :location_id, Location.all.collect { |l| [l.name, l.id]}) %>
			</p>
			<p>
				<%= f.label :postcode %><span>*</span><br>
				<%= f.text_field :postcode %>
			</p>
			<p>
				<%= f.label :phone %><span>*</span><br>
				<%= f.text_field :phone %>
			</p>
			<p>
				<%= f.label :fax %><br>
				<%= f.text_field :fax %>
			</p>
		</div>
		<div class="add-hotel">
			<div class="heading">			
				<h2>Hotel Details</h2>
			</div>
			<p>
				<%= f.label :hotel_type_id %><br>
				<%= select(:hotel, :hotel_type_id, HotelType.all.collect { |t| [t.name, t.id]}) %>
			</p>
			<p>
				<%= f.label :star %><br>
				<%= f.select :star, star_list %>
			</p>
			<p>
				<%= f.label :no_of_rooms %><span>*</span><br>
				<%= f.text_field :no_of_rooms %>
			</p>
			<p>
				<%= f.label :overview %><span>*</span><br>
				<%= f.text_area :overview, :rows => 10, :cols => 60 %>
			</p>
			<p>
				<%= f.label :terms %><br>
				<%= f.text_area :terms, :rows => 10, :cols => 60 %>
			</p>
			<p>
				<%= f.label :direction %><br>
				<%= f.text_area :direction, :rows => 10, :cols => 60 %>
			</p>
		</div>
		<% @hotel.photos.each do | photo | %>
			<div class="hotel_photos">
				<%= image_tag(photo.uploaded_file.url(:thumb), :alt => '') %><%= check_box_tag "photo_ids[]", photo.id %>
			</div>
		<% end unless @hotel.photos.first.new_record? rescue nil %>
		<div class="add-hotel">
			<div class="heading">			
			<h2>Hotels Features and Services</h2>
			</div>
			<ul class="feature-list">
				<%# @all_facilities.each do |facility| %>
				<li>
					<%#= check_box_tag "hotel_facility_list[]", facility.id, @hotel.facilities.map{|f| f.id}.include?(facility.id) %>
					<%#= facility.name %>
				</li>
				<% #end %>
			</ul>
		</div>
		<p>
			<%= f.submit  %>
		</p>
		<% end %>
