<div class="left-area">
	<div class="win-box">
		<div class="contact-addr">
      <div class="admin">
        <h2>Admin</h2>
          <ul>
    				<li><%= link_to "Add New Hotel", new_hotel_path %></li>
    			</ul>  			
      </div>			
		</div>
	</div>
</div>
<div class="main-content">
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Star</th>
    <th>No Of Rooms</th>
    <th>Overview</th>
    <th>Terms</th>
    <th>Direction</th>
  </tr>
  <% for hotel in @hotels %>
    <tr>
      <td><%= hotel.name %></td>
      <td><%= hotel.address %></td>
      <td><%= hotel.postcode %></td>
      <td><%= hotel.phone %></td>
      <td><%= hotel.fax %></td>
      <td><%= hotel.star %></td>
      <td><%= hotel.no_of_rooms %></td>
      <td><%= hotel.overview %></td>
      <td><%= hotel.terms %></td>
      <td><%= hotel.direction %></td>
      <td><%= link_to "Show", hotel %></td>
      <td><%= link_to "Edit", edit_hotel_path(hotel) %></td>
      <td><%= link_to "Destroy", hotel, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
</div>

