<div class="left-area">
<div class="win-box">
	<div class="filters">
		<div class="heading">	
			<h2 class="smart-filters" title="Smart Filters">Smart Filters</h2>
		</div>			
	</div>			
	<div class="info">	
		<div class="heading">
			<h2 class="top-location" title="Top Locations">Top Locations</h2>
		</div>
			<ul>
				<li><a href="#" title="The City">The City</a></li>
				<li><a href="#" title="Greenwich">Greenwich</a></li>
				<li><a href="#" title="Wembledon">Wembledon</a></li>
				<li><a href="#" title="King Cross">King Cross</a></li>
				<li><a href="#" title="Twickenham">Twickenham</a></li>
				<li><a href="#" title="Camden">Camden</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="list">
    <div>
      Hotels in Cricklewood
    </div>

  <!-- rails data -->
    <% @hotels.each do |hotel| %>
        <div class="list-block">
      		<div class="box">
      			<div id="01" class="hotel">
      				<div class="thumb">
      				  <% unless hotel.photos.first.nil? %>
          				<%= image_tag hotel.photos.first.hotel_photo.url(:thumb), :alt => "" %>
          			<% end %>
      					<a href="#" title=""><img src="/media/HomelyHouse/thumbs/02.jpg" title="Title for 1.jpg" /></a>
      				</div>
      				<div class="details">
      					<h3><%= link_to hotel.name, @hotels %></h3>
      					<div class="s<%= hotel.star %>"></div>
      					<div class="loc"><%= hotel.address %>,<%= hotel.phone %></div>

      					<div class="price">From &pound; <span>76</span></div>
      				</div>
      				<div class="desc">
      					<p><%= hotel.overview %></p>
      				</div>
      			</div>
      		</div>
      	</div>
	  <% end unless @hotels.first.new_record? rescue nil %>
  <!-- end here -->  
  
	
		
	</div>	
</div>