<% content_for :head do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAM41OPHNEzeRe7qzntS2dZxRhUbQCvgHcewKkuhV-KkriOp2HwhReuvtd5emO1MhE-giChvNKkDVHIA&sensor=false" type="text/javascript">
<% javascript "markerGroup"%>
  </script>

	
  
<% end %>

<div class="listing">
  <div class="left-area">
		<div class="win-box-top"></div>
    <div class="win-box">
    	<div class="info">	
    		<div class="heading">
    			<h2 class="top-location" title="Top Locations">Top Locations</h2>
    		</div>
    			<ul>
    				<li><a href="#" title="The City">The City</a></li>
    				<li><a href="#" title="Greenwich">Greenwich</a></li>
    				<li><a href="#" title="Wembledon">Wembledon</a></li>
    				<li><a href="#" title="King Cross">King Cross</a></li>
    				<li><a href="#" title="Twickenham">Twickenham</a></li>
    				<li><a href="#" title="Camden">Camden</a></li>
    			</ul>
    		</div>
    	</div>
			<div class="win-box-bottom"></div>  
    <div class="top-rated">
      <div class="heading">
        <h2>Top Rated Hotels</h2>
      </div>
			<div class="list">
				<div class="hotel-box">
					<div class="thumb">
						<img src="media/HomelyHouse/thumbs/02.jpg" alt="Homely House" />
					</div>
					<div class="details">
						<h3><a href="#" >Sea View Inn</a></h3>
						<div class="loc">Location: Ealing</div>
						<div class="s4"></div>
						<div class="reviews"><a href="#" title="reviews">Reviews(2)</a></div>
					</div>
				</div>
	    	</div>        
  			<div class="list">
  				<div class="hotel-box">
  					<div class="thumb">
  						<img src="media/HomelyHouse/thumbs/02.jpg" alt="Homely House" />
  					</div>
  					<div class="details">
  						<h3><a href="#" >Sea View Inn</a></h3>
  						<div class="loc">Location: Ealing</div>
  						<div class="s4"></div>
  						<div class="reviews"><a href="#" title="reviews">Reviews(2)</a></div>
  					</div>
  				</div>
  	    	</div><div class="list">
    				<div class="hotel-box">
    					<div class="thumb">
    						<img src="media/HomelyHouse/thumbs/02.jpg" alt="Homely House" />
    					</div>
    					<div class="details">
    						<h3><a href="#" >Sea View Inn</a></h3>
    						<div class="loc">Location: Ealing</div>
    						<div class="s4"></div>
    						<div class="reviews"><a href="#" title="reviews">Reviews(0)</a></div>
    					</div>
    				</div>
    	    	</div>
    	    	
      <% @top_hotels.each do |hotel| %>
        <div class="list">
      		<div class="hotel-box">
        				<div class="thumb">
            			<% unless hotel.photos.first.nil? %>
            				<%= image_tag hotel.photos.first.uploaded_file.url(:thumb), :alt => "" %>
            			<% end %>
        				</div>
      				  <div class="details">
      					  <h3><%= link_to hotel.name, hotel %></h3>
        					<div class="loc"><%= hotel.area %></div>
        					<div class="s<%= hotel.star %>"></div>
        					<div class="reviews"><%= link_to "Reviews (#{hotel.reviews.count})", hotel_reviews_path(hotel) %></div>
      					</div>
      			</div>
      		</div>
      <% end %>
		</div>
  </div>  
  <div class="list">
    <div class="heading">
      <h2><% unless params[:search].blank? %>Hotels  in <%= params[:search]%><% else %> All Hotels <% end %></h2>
      <div class="on-the-map"><a href="#">on the map</a></div>
    </div>

    <div class="list-block">
			<div class="box">
				<div id="01" class="hotel">
					<div class="thumb">
						<a href="#" title=""><img src="media/HomelyHouse/thumbs/02.jpg" title="Title for 1.jpg" /></a>
					</div>
					<div class="details">
            <h3 class="s4"><a href="#">Sea View Inn</a></h3>					
						<div class="loc">Henden, Middlesex</div>
    				<div class="view"><a href="#">View Details</a></div>						
						<div class="price">From &pound; <span>76</span></div>
					</div>
					<div class="desc">
						<p>Espacio Torrijos is situated on Hermosilla Street next to General Díaz Porlier, in the quarter of Salamanca in the heart of Madrid. The seven storey building provides a range of one, two and three bedroom apartments and spacious penthouses.</p>
					</div>
				</div>
			</div>
		</div>
    <div class="list-block">
			<div class="box">
				<div id="01" class="hotel">
					<div class="thumb">
						<a href="#" title=""><img src="media/HomelyHouse/thumbs/02.jpg" title="Title for 1.jpg" /></a>
					</div>
					<div class="details">
            <h3 class="s4"><a href="#">Sea View Inn</a></h3>					
						<div class="loc">Henden, Middlesex</div>
    				<div class="view"><a href="#">View Details</a></div>						
						<div class="price">From &pound; <span>76</span></div>
					</div>
					<div class="desc">
						<p>Espacio Torrijos is situated on Hermosilla Street next to General Díaz Porlier, in the quarter of Salamanca in the heart of Madrid. The seven storey building provides a range of one, two and three bedroom apartments and spacious penthouses.</p>
					</div>
				</div>
			</div>
		</div>
    <div class="list-block">
			<div class="box">
				<div id="01" class="hotel">
					<div class="thumb">
						<a href="#" title=""><img src="media/HomelyHouse/thumbs/02.jpg" title="Title for 1.jpg" /></a>
					</div>
					<div class="details">
            <h3 class="s4"><a href="#">Sea View Inn</a></h3>					
						<div class="loc">Henden, Middlesex</div>
    				<div class="view"><a href="#">View Details</a></div>						
						<div class="price">From &pound; <span>76</span></div>
					</div>
					<div class="desc">
						<p>Espacio Torrijos is situated on Hermosilla Street next to General Díaz Porlier, in the quarter of Salamanca in the heart of Madrid. The seven storey building provides a range of one, two and three bedroom apartments and spacious penthouses.</p>
					</div>
				</div>
			</div>
		</div>
		
    <% @hotels.each do |hotel| %>
        <div class="list-block">
        	<div class="box">
        			<div class="thumb">
        			
        			<% unless hotel.photos.first.nil? %>
        				<%= image_tag hotel.photos.first.uploaded_file.url(:thumb), :alt => "" %>
        			<% end %>

        			</div>
        			<div class="details">
        				<h3 class="s<%= hotel.star%>"><%= link_to hotel.name, hotel %></h3>
        				<div class="loc">Location: <%= hotel.area %></div>
        				<div class="view"><%= link_to "View Details", hotel %></div>

        				<div class="price">From &pound; <span>76</span></div>
        			</div>
        			<div class="desc">
        				<p><%= hotel.overview %>
        				It is simply that wehave very high standards. There are fine restaurants with wonderful food and friendly service.  People who work for us genuinely enjoy being there;  everyone strives to make your stay a happy one.</p>
        			</div>
        			<% #if hotel_owner?(current_user) %>
          		<div class="actions">
          		<%= link_to "Edit", edit_hotel_path(hotel) %><%= link_to "Destroy", hotel, :confirm => 'Are you sure?', :method => :delete %>
          		</div>
          		<%# end %>

        		</div>
      </div>	

	  <% end  %>

    <div class="map-view" style="display:block;float:left;">
      <div id="map_canvas" style="width: 720px; height: 450px"></div>	
    
    </div>
    


	</div>	
</div>
</div>