<div class="left-area">
	<div class="win-box">
      <div class="admin">
        <h2>Admin</h2>
          <ul>
            <li>  <%= link_to "Edit", edit_hotel_path(@hotel) %></li>
    				<li><%= link_to "Add New Hotel", new_hotel_path %></li>
    				<li><%= link_to "Destroy", @hotel, :confirm => 'Are you sure?', :method => :delete %></li>
            <li><%= link_to "View All", hotels_path %></li>
    			</ul>  			
      </div>			
	</div>
  <%= render :partial => 'shared/admin_menu' %>      
</div>

<div class="main-content">

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>
<p>
  <strong>Postcode:</strong>
  <%= @hotel.postcode %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @hotel.phone %>
</p>
<p>
  <strong>Fax:</strong>
  <%= @hotel.fax %>
</p>
<p>
  <strong>Star:</strong>
  <%= @hotel.star %>
</p>
<p>
  <strong>No Of Rooms:</strong>
  <%= @hotel.no_of_rooms %>
</p>
<p>
  <strong>Overview:</strong>
  <%= @hotel.overview %>
</p>
<p>
  <strong>Terms:</strong>
  <%= @hotel.terms %>
</p>
<p>
  <strong>Direction:</strong>
  <%= @hotel.direction %>
</p>

</div>