<% javascript 'gmap','jquery.ad-gallery.js' %>
<% content_for :head do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAM41OPHNEzeRe7qzntS2dZxRhUbQCvgHcewKkuhV-KkriOp2HwhReuvtd5emO1MhE-giChvNKkDVHIA&sensor=false"
          type="text/javascript"></script>
  
<% end %>
<script type="text/javascript">
$(function() {

  var galleries = $('.ad-gallery').adGallery();
  $('#switch-effect').change(
    function() {
      galleries[0].settings.effect = $(this).val();
      return false;
    }
  );
  $('#toggle-slideshow').click(
    function() {
      galleries[0].slideshow.toggle();
      return false;
    }
  );
});
</script>


<div class="breadcrumb">
    <div class="back"><%= link_to "Back", :back %></div>
</div>
<div class="details">
	<div class="left">
		<div class="left-gallary">
			<div class="ad-gallery">
				<div class="ad-image-wrapper"></div>
			  	<div class="ad-nav">
			    	<div class="ad-thumbs">
			      		<ul class="ad-thumb-list">
			      		<% @hotel.photos.each do | photo | %>
			      		  	<li><%= link_to(image_tag(photo.uploaded_file.url(:thumb), :alt => ''), photo.uploaded_file.url(:original), :class => 'image1' ) %></li>				        		
                <% end unless @hotel.photos.first.new_record? rescue nil %>
			      		</ul>
			    	</div>
			  </div>		
			</div>
		</div>		
		<% if hotel_owner?(current_user) %>
      <%= link_to "Upload Hotel Photos", new_hotel_photo_path(@hotel) %>
    <% end %>  
		<div class="customer-reviews">
			<div class="heading">
				<h2>Customer Reviews</h2>
			</div>
			<% @hotel_reviews.each do |review|%>
      <div class="box">
        <div class="rating"><span>Guest Rating:</span> <%= review.rating %> out of 10</div>      
  			<p>
  			  <%= review.comment %>
        </p>
        <div class="by">Reviewed by Richard,  Nov 2010</div>
      </div>
      <% end %>
      <div class="all">
        <%= link_to  'Read All Reviews', hotel_reviews_path(@hotel) %>
        | 
        <%= link_to  'Write a Review', new_hotel_review_path(@hotel)%>
      </div>
		</div>	
	</div>
	<div class="right">
		<div class="hotel-details">
			<div class="hotel-addr">					
				<div class="hotel-name"><h1 class="s<%= @hotel.star %>"><%= @hotel.name %></h1></div>
				<div class="fb-like"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fko.aty&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe></div>					
				<div class="address"><%= @hotel.address %>, <%= @hotel.postcode %></div>
				<div class="phone">  <%= @hotel.phone %></div>
			</div>
			<div class="overview">
				<div class="heading">
					<h2 title="Overview">Overview</h2>
				</div>
				<p>  <%= @hotel.overview %></p>
				<p>Travel from business to pleasure in just a few paces, and let us demonstrate 2 wonderful extremes of hotel life.
					The first consists of our fantastic conference and meeting facilities. 
					With 11 rooms of varying size to choose from, Wifi in all rooms and fully trained staff with the 
					knowledge and expertise to run your event without a hitch.</p>
			</div>

		<div class="hotel-facilities">
			<div class="heading">
				<h2 title="Facilities">Facilities</h2>
			</div>	
			<% @hotel_facilities.each do |hotel_facility|%>
			  <ul>
			    <li><%= hotel_facility.name %></li>
			  </ul>
		  <% end %>
			</div>
			<div class="room-types">
				<div class="heading">
					<h2 title="Room Types">Room Types</h2>
				</div>
				<div class="table">
					<ul class="header">
						<li class="room-type"><span>Room Types</span></li>
						<li class="avail"><span>Availablity</span></li>
						<li class="price"><span>Price</span></li>
					</ul>
					<% @hotel_roomtypes.each do |room_type|%>				    
    					<ul class="row">
    						<li class="room-type"><span><%= @hotel.room_types.find_by_id(room_type.room_type_id).name %></span></li>
    						<li class="avail"><span>available</span></li>
    						<li class="price"><span>&pound;<%= room_type.price %></span></li>
    						<li class="book"><span>Call 0207 999 999 or <a href="book-online" title="Book online">Book online</a></span></li>								
    					</ul>
      			<% end %>
      			
      			<% if hotel_owner?(current_user) %>
      			<ul>
  					  <li><span><%= link_to "Add Room Types", new_hotel_hotels_roomtype_path(@hotel.id), :class=>"add-room-type" %> </span></li>
  					</ul>
  					<% end %>  					
				</div>					
			</div>
			<div class="direction">
				<div class="heading">						
					<h2 title="Direction">Direction</h2>
				</div>
				  <p><%= @hotel.direction %></p>
					<p>	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
						tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis 
						nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
					</p>
          <script type="text/javascript">
          $(function(){
            if (GBrowserIsCompatible()) {
                  var map = new GMap2(document.getElementById("map_canvas"));
                  map.setCenter(new GLatLng(<%=@hotel.latitude %>, <%= @hotel.longitude %>), 15);
                  point =new GLatLng(<%=@hotel.latitude %>, <%= @hotel.longitude %>);
                  map.addOverlay(new GMarker(point));                  
                  map.setUIToDefault();
                }
          });
          </script>
		    <div id="map_canvas" style="width: 565px; height: 150px"></div>	

			</div>	
			<div class="terms">
				<div class="heading">
					<h2 title="Terms &amp; Conditions">Terms &amp; Conditions</h2>
				</div>
					<p><%= @hotel.terms %></p>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
					tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis 
					nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
					</p>
				</div>
			</div>	
			</div>					
		</div>


