

<div class="center">
  <div class="login-box-top"></div>
	<div class="login-box">

	    <div class="mid">
   		<h2 title="">Write review for <%= @hotel.name %></h2>
		<%= form_for [@hotel,@review] do |f| %>

		<div class="fields">
		  <div class="field">
		    <%= f.text_area :comment %>
		  </div>
		  <div class="field">
		    <%= f.label :rating %>
		    <%= f.text_field :rating %>
		  </div>

		  <div class="field">
		    <%= f.label :recommand %>
		    <%= f.check_box :recommand, :class=>"chkbox" %>
		  </div>
			<div class="buttons">
		    <%= f.submit "Submit", :value=>"", :class=>"submit" %>
		  </div>
		</div>
		<% end %>
		<div class="links">
			<%=link_to "Cancel", @hotel %>
		</div>
		


    </div>	  		
	</div>
  <div class="login-box-bottom"></div>
</div>
