<div class="left-area">
	<div class="win-box">
      <div class="admin">
        <h2>Menu</h2>
          <ul>
    				<li><%= link_to "Write a Review", new_hotel_review_path(@hotel) %></li>
    				<li><%= link_to "Back", :back %></li>    				
    			</ul>  			
      </div>			
		</div>
  <%= render :partial => 'shared/admin_menu' %>      
</div>
<div class="main-content">
<h2>Customer Reviews for <%= @hotel.name %></h2>

<table>
  <tr>
    <th>Comment</th>
    <th>Rating</th>
    <th>Recommand</th>
  </tr>
  <% for review in @reviews %>
    <tr>
      <td><%= review.comment %></td>
      <td><%= review.rating %></td>
      <td><%= review.recommand %></td>
      <td><%#= link_to "Show", review %></td>
      <td><%#= link_to "Edit", edit_review_path(review) %></td>
      <td><%#= link_to "Destroy", review, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
</div>

