<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag 'style','print','validationEngine.jquery','blitzer/jquery-ui-1.8.9.custom' %>
    <%= javascript_include_tag 'cufon-yui','cufon','Rockwell_Std_400.font', 'jquery-1.4.4.min','jquery-ui-1.8.9.custom.min','jquery.cycle.all.min','application' %>
    <!--[if IE 6]>
  			<link rel="stylesheet" type="text/css" href="/css/ie-6.css" />
  	<![endif]-->
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    
  </head>
  
  <body>
    <div id="wrapper">
  		<div id="header">
  			<div class="logo">
  				<h1 title="Cyber Hotels">
  					<a href="/">Cyber Hotels</a>
  				</h1>
  			</div>
  			<div class="header-right">
  				<div class="top-nav">
  					<div class="left">
  						<a href="#" class="language" title="Language">Language</a>
  						<div class="language-links" style="display:none;">
  							<ul class="language-list">
  								<li class="name"><a href="#" title="English">English</a></li>
  								<li class="name"><a href="#" title="English">Chinese</a></li>
  								<li class="name"><a href="#" title="English">Spanish</a></li>
  							</ul>
  						</div>
  					</div>
  					<div class="right">
  						<ul class="account-links">
  							<li>
    							<% if user_signed_in? %>
          		   	 	Logged in as: <%= current_user.email  %> 
          				|
          				<%= link_to "My Account", root_path %>
          				|
          				<%= link_to "Sign out", destroy_user_session_path %>
          		    <% else %>
          		    	<em>Not Signed in.</em>
          			    <%= link_to 'Sign in', new_user_session_path%>
          				or
          				<%= link_to 'Sign up', new_user_registration_path%>
          		    <% end %>
  							</li>					
  						</ul>
  					</div>
  				</div>
  				<div class="advert">
				
  				</div>
  				<div class="main-nav">
  					<ul>
  						<li><%= link_to 'Home', root_url %></li>
  						<li><a href="#" title="Deals">Deals</a></li>
  						<li><a href="#" title="Travel Guides">Travel Guides</a></li>
  						<li><a href="/contact-us" title="Contact us">Contact Us</a></li>																							
  					</ul>
  				</div>
  			</div>
  		</div>
      
      <div class="content">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      
      <div id="footer">
    		<div class="left">
    			<div class="footer-nav">
    				<ul>
    					<li><%= link_to 'Add Hotels', new_hotel_path %></li>
    					<li><a href="login.html" title="Agents">Agents</a></li>						
    					<li><a href="#" title="Privacy">Privacy</a></li>
    					<li><a href="#" title="Terms">Terms</a></li>						
    				</ul>
    			</div>

    		</div>
    		<div class="right">
    		</div>
    		<div class="copyright">
    			<p>&copy;2011 Cyber Hotels, All rights Reserved.
    			Designed by Aung-Myo Win for WorldSkillsUK
    			</p>
    		</div>							
    	</div>
    </div>
  </body>
</html>
