<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag 'style','print','validationEngine.jquery','blitzer/jquery-ui-1.8.9.custom' %>
    <%= javascript_include_tag 'jquery-1.4.4.min','jquery-ui-1.8.9.custom.min','jquery.cycle.all.min','application' %>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>

    <!--[if !IE]>--> 
      <%= javascript_include_tag 'cufon-yui','cufon','Rockwell_Std_400.font' %>
    <!--<![endif]-->
    <!--[if IE]>
      <%= stylesheet_link_tag 'ie' %>
  	<![endif]-->
    <!--[if gt IE 7]>    
      <%= javascript_include_tag 'cufon-yui','cufon','Rockwell_Std_400.font' %>
  	<![endif]-->    
  	
  </head>
  
  <body>
    <div id="wrapper">
  		<div id="header">
  			<div class="logo">
  				<h1 title="Cyber Hotels">
  					<a href="/">Cyber Hotels</a>
  				</h1>
  			</div>
  			<div class="header-right">
  				<div class="top-nav">
  					<div class="right">
  						<ul class="account-links">
  							<li>
    							<% if user_signed_in? %>
          		   	 	Logged in as: <%= current_user.email  %> 
          				|
          				<%= link_to "My Account", session_path(current_user) %>
          				|
          				<%= link_to "Sign out", destroy_user_session_path %>
          		    <% else %>
          			    <%= link_to 'Sign in', new_user_session_path%>
          				|
          				<%= link_to 'Register', new_user_registration_path%>
          		    <% end %>
  							</li>					
  						</ul>
  					</div>
  				</div>
  				<div class="advert">
				
  				</div>
  				<div class="nav-wrap">
    				<div class="main-nav">
    					<ul>
    						<li><%= link_to 'Home', root_url %></li>
    						<li><a href="#" title="Deals">Deals</a></li>
    						<li><a href="#" title="Travel Guides">Travel Guides</a></li>
    						<li><a href="/contact-us" title="Contact us">Contact Us</a></li>																							
    					</ul>
    				</div>
  				
    				<div class="language-links" style="display:block;">
  						<ul class="language-list">
  							<li class="english"><a href="#" title="English">English</a></li>
  							<li class="france"><a href="#" title="France">France</a></li>
  							<li class="spanish"><a href="#" title="Spanish">Spanish</a></li>
  						</ul>
  					</div>
					</div>
  			</div>
  		</div>
      
      <div class="content">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      
      <div id="footer">
    		<div class="left">
    			<div class="footer-nav">
    				<ul>
  				  	<% if user_signed_in? %>
    					<li><%= link_to 'Add Hotels', new_hotel_path %></li>
              <% end %>
    					<li><a href="login.html" title="Agents">Agents</a></li>						
    					<li><a href="#" title="Privacy">Privacy</a></li>
    					<li><a href="#" title="Terms">Terms</a></li>
    					<li><a href="#" title="About us">About us</a></li>    											
    				</ul>
    			</div>

    		</div>
    		<div class="right">
    		</div>
    		<div class="copyright">
    			<p>&copy;2011 Cyber Hotels, All rights Reserved.
    			Designed by Aung-Myo Win for WorldSkillsUK
    			</p>
    		</div>							
    	</div>
    </div>
  </body>
</html>
